<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/statics/tailwind.min.css" />
    <script src="/statics/alpine.min.js"></script>
    <script src="/statics/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="/statics/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <title>EncryptBin</title>
  </head>
  <body>
    <main>
      <div class="py-20 h-screen bg-gray-800 px-2">
        <div
          class="max-w-md mx-auto bg-gray-300 rounded-lg overflow-hidden md:max-w-lg"
        >
          <div class="md:flex">
            <div class="w-full">
              <div class="p-4 border-b-2">
                <span class="text-lg font-bold text-gray-600"
                  >Data has been expired or not existed!</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
