<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>EncryptBin</title>
  </head>
  <body>
    <script>
      function randname(length) {
        var result = "";
        var characters =
          "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
          result += characters.charAt(
            Math.floor(Math.random() * charactersLength)
          );
        }
        return result;
      }
      function Oncopytoclipboard() {
        var copyText = $("#copy_url").attr("href");
        copyText = window.location.host + copyText;
        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText);
      }
    </script>
    <main>
      <div align="center" class="py-20 h-screen bg-gray-800 px-2">
        <div
          align="center"
          class="max-w-md mx-auto bg-gray-300 rounded-lg overflow-hidden md:max-w-lg"
        >
          <div class="md:flex">
            <div class="w-full">
              <div class="p-4 border-b-2">
                <span class="text-lg font-bold text-gray-600"
                  >Encrypt File Cabinet</span
                >
              </div>
              <div class="p-3">
                <div class="mb-2">
                  <span class="text-lg">URL:</span><br />
                  <div>
                    <a
                      href="/?<%= uri%>"
                      id="copy_url"
                      class="text-lg text-center h-12 px-3 w-full border-gray-200 border rounded focus:outline-none focus:border-gray-300"
                      ><%= uri%></a
                    >
                    <button
                      id="copytoclipboard"
                      onclick="Oncopytoclipboard()"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-original-title="Copied to Clipboard"
                      data-content="Copied to Clipboard"
                      aria-describedby="tooltip"
                    >
                      <i class="fa fa-solid fa-clipboard"></i>
                    </button>
                  </div>
                </div>

                <div class="text-lg mb-2">
                  <span>Sent Message:</span>
                  <p
                    class="text-lg text-center h-12 px-3 w-full border-gray-200 border rounded focus:outline-none focus:border-gray-300"
                  >
                    <%= title%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
